html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#pack {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 250px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

#pack input[type="text"] {
  width: 25px;
  height: 30px;
  padding: 6px 10px;            
  border: 2px solid #333;       
  border-radius: 6px;           
  font-size: 20px;
  text-align: center;           
  outline: none;
  background: #f0f0f0;         
  transition: 
    width 0.3s, 
    text-align 0.3s, 
    border-color 0.2s, 
    box-shadow 0.2s,
    opacity 0.2s;
}

#pack input[type="text"]:hover,
#pack input[type="text"]:focus,
#pack input[type="text"]:not(:placeholder-shown) {
  width: 220px;                
  text-align: left;             
}

#pack input[type="text"]:focus {
  border-color: #0B233D;
  box-shadow: 0 0 5px #1E1F1E;
}

/* placeholder normal */
#pack input[type="text"]::placeholder {
  color: gray;
  transition: opacity 0.2s;
}

#pack input[type="text"]:focus::placeholder,
#pack input[type="text"]:hover::placeholder,
#pack input[type="text"]:not(:placeholder-shown)::placeholder {
  opacity: 0;
}

#pack label {
  display: inline-flex;
  align-items: center;
}

